

.toolbar {
    display: flex;

    margin-bottom: 10px;
    box-shadow: lightcoral 0px 0px 10px 0px;
}

.toolbar .MuiIconButton-root {
    margin: 0 5px;
    padding: 10px;
}

.toolbar .active-button {
    background-color: rgba(0, 0, 0, 0.1);
}

.toolbar .MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.text1 {
   padding-left: 500px;
   color: lightcoral;
}