body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: blanchedalmond ;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
    text-align: center;
  margin: 20px;
}

.DraftEditor-root {
  background: blanchedalmond ;
  padding: 10px;
  border-radius: 4px;
  color: lightcoral;
  font-family: "Times New Roman";
  font-size: 20px;
}
.Icons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;


}